/* Oppsett som ligner en avisartikkel */
body {
    max-width: 800px; /* Begrenser bredden for å etterligne avisoppsett */
 
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  

#h1-page1 {
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

#h2-page1 {
  font-size: 1.5em;
  background-color: rgb(153, 150, 150);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.nav-bar {
  background-color: #cf6e36;
  padding: 10px;
  text-align: center; /* Aligns the links to the center */
}

.nav-text {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin: 0 10px; /* Adds some space between the links */
}

  
  /* Teksten (som avisartikkelens innhold) */
  p {
    font-size: 1.0em; /* Skriftstørrelse for teksten */
    line-height: 1.6; /* Linjehøyde for bedre lesbarhet */
    margin-bottom: 20px; /* Avstand mellom avsnittene */
  }
  
  .article-meta {
    font-style: italic;
    color: #666; /* Grå farge for meta-informasjon */
  }



.secondbox {
  background-image: url("../css/image.png");
  background-size: cover;
    width: 700px;
    height: 700px;
    font-size: 1.2em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
 



  